/*@charset "utf-8";*/

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: Cambria, 'Open Sans', sans-serif;
	font-size:12px;
	color:#757575;
}

.left{ float:left; } /**/ .right{ float:right; } /**/ .clear{ clear:both; } /**/ .hidden{ display:none; }
.alignleft{ text-align:left !important; } /**/ .alignright{ text-align:right !important; }


img{ border:none; }
p{ margin:0 0 15px; }
hr { height: 0.8px; background-color: #c7c7c7; border: 0; }

a{ 
	color:#757575; 
	text-decoration:none; 
	cursor:pointer !important; 
	transition:all 0.6s ease 0s; 
	outline:none;
}

a:hover{ color:#374859; } 
:focus{ outline:none; }

.placeholder{ color:#888; }
.relative{ position:relative; }
.red{ color:#d31145; }

h1, h2, h3, h4{ font-weight:bold; padding:0; margin:0; }

button{ border:none; cursor:pointer; transition:all 1s ease 0s;  }
textarea{ resize:none; }

#header{
	width:100%;
	height:60px;
	position:fixed;
	z-index:15;
	background:#000;
}

#headerContent{
	margin-top: -25px;
	width:100%;
	height:60px;
	position:fixed;
	z-index:15;
	background:#000;
}

#headerContent .wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
}

#header .wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
}

/*#header .wrapper:before, #headerContent .wrapper:before{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #000; 
	content: "";
    display: block;
    width: 0; 
    height: 0;
	position: absolute;
	top: 58px;
    bottom: -21px;
    left: 54px; 
}*/

h1#logo{
	width:285px;
	height:95px;
	margin-top: 10px;
	margin-left: -50px;
	background:url(../images/logo-big.png) no-repeat;
	font-size:0; text-indent:-9999px; letter-spacing:-9999px;
	float: left;
}

h1#logo a{
	width:249px;
	height:52px;
	display:block;
}

h1#logo.dua{
	/*width:119px;
	height:42px;*/
	width: 285px;
	height: 95px;
	margin-top: 10px;
	margin-left: -50px;
	background:url(../images/logo.png) bottom center no-repeat;
	font-size:0; text-indent:-9999px; letter-spacing:-9999px;
	float: left;
}

h1#logo.dua a{
	width:119px;
	height:102px;
	display:block;
}

.top-menu{
	float: left;
	margin: 0 0 0 50px;
	padding: 0;
	list-style: none; 
}

.top-menu li{
	float: left;
	margin-right: 20px;
}

.top-menu li:hover {
	background:url(../images/menuHover.png) center bottom repeat-x;
}

.top-menu li a,
.top-menu li a.nomar3{
	line-height: 60px;
	display: block;
	color: #fffefe;
	font-family: cambria, georgia, serif;
	font-size: 14px;
	text-transform: uppercase;
	transition:none;
	padding:0 14px;
}

.top-menu li a:hover,
.top-menu li a.nomar3:hover{
	background:url(../images/menuHover.png) center bottom repeat-x;
}

.top-menu li.nomar3 .topsub{
	padding: 0;
	width: 180px;
	background: #27a8d7;
	position: absolute;
	top: 1;
	left: 363px;
	z-index: 5;
	display: none;
	float: none
}

.top-menu li.nomar3 .topsub li{
	float: none;
	list-style-type: none;
	margin: 0;
	height: 30px;
	color: #fff;
	padding-top: 16px;
	padding-left: 20px;
}

.top-menu li.nomar3 .topsub li:hover{
	background: #000;
}

.top-menu li.nomar3 .topsub li a.tsLink{
	line-height: 0;
	padding-top: 8px;
	margin-left: -15px;
	text-transform: none;
	font-size: 12px;
	padding-left: 20px;
}

.top-menu li.nomar3 .topsub li a:hover{
	background: none;
}

ul.sub-menu{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none; 
}

ul.sub-menu li{
	float: left;
	margin:0 10px; 
}

ul.sub-menu li.nomar,
ul.sub-menu li.nomar2,
ul.sub-menu li.nomar4{
	margin: 0;
	position: relative;
}

ul.sub-menu li.nomar img,
ul.sub-menu li.nomar2 img,
ul.sub-menu li.nomar4 img{
	top: 5px;
	left: 3px;
	clear: both;
}

ul.sub-menu li a{
	min-width: 60px;
	display: block;
	line-height: 28px;
	color: #fffefe;
	font-family: Cambria;
	font-size: 12px;
	text-transform: uppercase;
	transition:none;
	text-align: center;
}

ul.sub-menu li a img {
	margin-right: 8px;
	position: relative;
}

ul.sub-menu li a:hover{
	color: #f5f5f5;
}

ul.sub-menu li.nomar {
	background; #000000;
}

ul.sub-menu li.nomar a:hover,
ul.sub-menu li a.on:active,
ul.sub-menu li.nomar4 a:hover,
ul.sub-menu li a.on4:active{
	background: #35baeb;
}

ul.sub-menu li.nomar2 a:hover,
ul.sub-menu li a.on2:active{
	background: #ff9579;
}

ul.sub-menu li.nomar .dropdown,
ul.sub-menu li.nomar2 .dropdown{
	width: 280px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 3px #333;
	position: absolute;
	top: 1;
	right: 0;
	z-index: 5;
	display: none;
}

ul.sub-menu li.nomar4 .dropdown{
	width: 180px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 3px #333;
	position: absolute;
	top: 1;
	right: 0;
	z-index: 5;
	display: none;
}

ul.sub-menu li.nomar4 .dropdown h3{
	font-size: 20px;
	font-weight: normal;
	margin-top: -5px;
	margin-bottom: 10px;
}


ul.sub-menu li.nomar4 .dropdown li{
	width: 160px;
	margin-left: -30px;
	list-style-type: none;
	float: none;
	height: 30px;
	padding: 0;
}

ul.sub-menu li.nomar4 .dropdown li a{
	font-size: 14px;
	text-transform: none;
	text-align: left;
	color: #bbbbbb;
}

ul.sub-menu li.nomar4 .dropdown li a:hover{
	background: none;
}

ul.sub-menu li.nomar4 .dropdown .dropdownRegister{
	display: block;
	width: 280px;
	padding: 13px 20px 13px 20px;
	background: #000000;
	color: #ffffff;
	width: 100%;
	margin: 10px 0 -20px -20px;
	font-family: Cambria;
	font-size: 14px;
}

ul.sub-menu li.nomar4 .dropdown .dropdownRegister button{
	text-align: center;
	background: #000000;
	padding-left: 59px;
	font-family: Cambria;
	font-size: 16px;
	color: #ffffff;
}

ul.sub-menu li.nomar4 .dropdown .dropdownRegister button:hover{
	color: #d5d5d5;
}

/*ul.sub-menu li.nomar4 .dropdown .dropdownRegister{
	background: #000000;
	width: 180px;
	margin-left: -20px;
}

ul.sub-menu li.nomar4 .dropdown .dropdownRegister button{
	background: #000000;
	color: #ffffff;
	padding: 15px 30px 15px 0;
	font-family: Cambria;
	font-size: 16px;
}*/

ul.sub-menu li.nomar .dropdown ul{
	margin-top: -20px;
}

ul.sub-menu li.nomar .dropdown li{
	width: 260px;
	margin-left: -30px;
	list-style-type: none;
	float: none;
	height: 40px;
	padding: 25px 0 5px 0;
}

ul.sub-menu li.nomar .dropdown li.us{
	border-bottom: 1px solid #d5d5d5;
}

ul.sub-menu li.nomar .dropdown li.us a{
	font-size: 18px;
}

/*ul.sub-menu li.nomar .dropdown li.rn{
	width: 280px;
	background: #35baeb;
}

ul.sub-menu li.nomar .dropdown li.rn a{
	color: #fff;
}*/

ul.sub-menu li.nomar .dropdown .dropdownRegister{
	display: block;
	width: 280px;
	padding: 12px 20px 0px 20px;
	background: #35baeb;
	color: #ffffff;
	margin: 0 0 -20px -20px;
	font-family: Cambria;
	font-size: 14px;
}

ul.sub-menu li.nomar .dropdown .dropdownRegister button{
	text-align: center;
	padding-left: 67px;
}

ul.sub-menu li.nomar .dropdown li a{
	color: #000;
	text-transform: none;
}

ul.sub-menu li.nomar .dropdown li a:hover{
	background: none;
}

ul.sub-menu li.nomar .dropdown:before,
ul.sub-menu li.nomar2 .dropdown:before,
ul.sub-menu li.nomar4 .dropdown:before{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #fff; 
    position: absolute;
    top: -20px;
    right: 18px;
	margin-left: 0px;
} 

ul.sub-menu li.nomar2 .dropdown .dropdownCart{
	display: block;
	background: #ffffff;
	color: #000000;
	width: 100%;
	font-family: Cambria;
	font-size: 14px;
	margin: 0 0 10px 0;
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart ul{
	list-style-type: none;
	font-family: Cambria;
	color: #000;
	float: left;
	padding-bottom: 15px;
	margin-left: -40px;
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart img{
	float: left;
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart ul li.dc1{
	font-size: 14px;
	width: 200px;
	padding-top: 10px;
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart ul li.dc2{
	font-size: 12px;
	
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart ul li.dc2 span{
	color: #35baeb;
}

ul.sub-menu li.nomar2 .dropdown .dropdownCart ul li.dc3{
	font-size: 16px;
	float: right;
	margin: -10px 0 0 0;
}

ul.sub-menu li.nomar2 .dropdown .dropdownTotal{
	display: block;
	padding: 13px 20px 1px 20px;
	background: #f0f0f0;
	color: #000000;
	width: 100%;
	margin: 0 0 0 -20px;
	font-family: Cambria;
	font-size: 14px;
}

ul.sub-menu li.nomar2 .dropdown .dropdownTotal p{
	text-align: left;
}

ul.sub-menu li.nomar2 .dropdown .dropdownTotal p span{
	float: right;
}

ul.sub-menu li.nomar2 .dropdown .dropdownView{
	display: block;
	width: 280px;
	padding: 23px 20px 11px 20px;
	background: #35baeb;
	color: #ffffff;
	margin: 0 0 -20px -20px;
	font-family: Cambria;
	font-size: 14px;
}

ul.sub-menu li.nomar2 .dropdown .dropdownView button{
	text-align: center;
	padding-left: 100px;
}

ul.sub-menu li.nomar .dropdown .forminput{
	display: block;
	padding: 10px 10px;
	border: 1px solid #999;
	margin-bottom: 15px;
	line-height: 14px;
}

ul.sub-menu li.nomar .dropdown .forminput input[type=text],
ul.sub-menu li.nomar .dropdown .forminput input[type=password]{
	width:100%;
	border: none;
	padding: 0;
	margin:0; 
}

ul.sub-menu li.nomar .dropdown .btnCont{
	text-align:center; 
}

/*ul.sub-menu li.nomar2 .dropdown .btnvCart{
	text-align:center;
	text-transform: none;
}*/

ul.sub-menu li.nomar .dropdown button{
	padding:7px 60px;
	background: #35baeb;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
	font-family: cambria, georgia, serif;
	margin-bottom: 15px;
}

ul.sub-menu li.nomar2 .dropdown button{
	padding:15px 80px;
	background: #35baeb;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
	font-family: cambria, georgia, serif;
	margin-top: -10px;
}

ul.sub-menu li.nomar .dropdown button:hover,
ul.sub-menu li.nomar2 .dropdown button:hover{
	opacity: .75;
}


ul.sub-menu li.nomar .dropdown .buttonForm{
	margin:0 0px;
	padding-top:5px;
}

ul.sub-menu li.nomar .dropdown .buttonForm ul{
	margin:0;
	padding:0px 0 0;
	list-style:none;
}

ul.sub-menu li.nomar .dropdown .buttonForm ul li{
	width:50% !important;
	padding:0 0 0 0 !important;
	float:left;
	margin: 0;
}

ul.sub-menu li.nomar .dropdown .buttonForm ul li.create{
	padding:0 0 0 0;
	text-align:right;
}

ul.sub-menu li.nomar .dropdown .buttonForm a{
	padding:10px 0px;
	width:100%;
	font-family: 'vag_rounded', Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height: 12px;
	color:#555;
	text-align: left;
	text-transform: none;
}

ul.sub-menu li.nomar .dropdown .buttonForm a.forgot{
	position: relative;
	top: 2px;
}

ul.sub-menu li.nomar .dropdown .buttonForm a.forgot:hover{
	color:#999;
	background: none;
}

ul.sub-menu li.nomar .dropdown .buttonForm a.signup{
	border:1px solid #000;
	background: #000;
	border-radius:0px;
	text-align:center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	text-transform: uppercase;
}

ul.sub-menu li.nomar .dropdown .buttonForm a.signup:hover{
	border:1px solid #000;
	color:#000;
	background: none;
}

ul.sub-menu li .bubble{
	position: absolute;
	top: 10px;
	right: 13px;
	font-family: cambria, georgia, serif;
	font-size: 12px;
	line-height: 12px;
	color: #fffefe;
	background: #35baeb;
	padding: 2px 3px;
}

/*ul.sub-menu li .bubble:after{
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #35baeb; 
	content: "";
    display: block;
    width: 0; 
    height: 0;
	position: absolute;
    bottom: -8px;
    left: 10%;
}*/	

/*ul.sub-menu li a:hover .bubble{
	background: #fff;
	color: #35baeb;
}

ul.sub-menu li a:hover .bubble:after{
    border-top: 5px solid #fff; 
}*/

.slid1{
	background: url("../images/slider-1.jpg") no-repeat center;
	position: relative;
}
.slid2{
	background: url("../images/slider-2.jpg") no-repeat center;
	position: relative;
}
.slid3{
	background: url("../images/slider-3.jpg") no-repeat center;
	position: relative;
}
.slid4{
	background: url("../images/slider-1.jpg") no-repeat center;
	position: relative;
}

.navContainer{ 
	width: 1074px !important;
}

#bottomHighlight{
	width: 960px;
	margin: 0 auto; 
}

#bottomHighlight ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#bottomHighlight ul li{
	float: left;
	width: 320px;
	height: 160px;
	background: #130d0c;
	position: relative;
	overflow: hidden;
}

#bottomHighlight ul li img{
	position: relative;
	z-index: 1;
}

#bottomHighlight ul li .text{
	width: 320px;
	height: 47px;
	background: rgba(0,0,0,.55);
	font-family: georgia, arial, serif;
	font-size: 16px;
	line-height: 47px;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition:all 0.2s ease 0.1s; 
}

#bottomHighlight ul li:hover .text{
	height: 160px;
	line-height: 160px;
}

#HomeHeading{
	padding: 25px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 910px;
	margin:25px auto;
	text-align: center;
	font-family: cambria, georgia, serif;
}

#HomeHeading p{
	font-size:16px;
	line-height: 16px;
	color: #555; 
	margin: 0 0 10px;
}

#HomeHeading h2{
	font-size:33px;
	line-height: 33px;
	color: #000; 
	font-weight: normal;
	text-transform: uppercase;
	word-spacing: 1px;
	margin-bottom: 7px;
}

#onclick, #onclick2{
   padding:3px;
   cursor:pointer;
   color:#000;
}

#loginRegular, #loginDesigner{ 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
	z-index: 100;
}

#contact{   
    width:350px;
    margin:0 auto;
    background-color:white;
    font-family: Cambria;
    position: relative;
    top: 100px;
}

.formLogin{
    font-size:14px;
    width:200px;
    padding: 30px;
}

img.logClose{
	float: right;
	margin: -30px -30px 0 0;
}

img.logClose:hover{
	opacity: 0.9;
}

.formLogin h3{
    font-size:24px;
    font-weight: normal;
	color: #000000;
	margin-top: -15px;
}

.formLogin p{
	text-align: center;
	font-size: 12px;
}

.formLogin p.mLog{
	margin-top: 5px;
	font-size: 14px;
	text-align: left;
	margin-bottom: 40px;
}

.formLogin p.mLog a{
	color: #35baeb;
}

.formLogin a.fPwd{
	margin: 20px 0 20px 0;
	font-size: 12px;
	float: right;
}
	
.btLogin {
	text-align: center;
}

.btLogin button{
	padding: 18px;
	width: 350px;
	background: #35baeb;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 22px;
	font-family: Cambria;
}

.btLogin button:hover{
	background: #000000;
}

.btRegister {
	text-align: center;
}

.btRegister button{
	background: #ffffff;
	border: 1px solid #000000;
	padding: 18px;
	width: 350px;
	margin-top: -6px;
	font-size: 22px;
	font-family: Cambria;
}

.btRegister button:hover{
	background: #000000;
	color: #ffffff;
}

#homeFeatured{
	width: 960px;
	margin: 0 auto; 
}

#homeFeatured ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#homeFeatured ul li{
	float: left;
	width: 300px; 
	height: 300px;
	margin:0 10px 20px;
	background: #130d0c;
	position: relative;
	overflow: hidden;
}

#homeFeatured ul li .hover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	font-family: cambria, georgia, serif;
	display: none;
}

#homeFeatured ul li:hover .hover{
	display: block;
	transition:all 0.6s ease 0s; 
}

#homeFeatured ul li .hover .top{
	padding: 13px 13px 13px 13px;
	font-size: 13px;
	line-height: 13px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
}

#homeFeatured ul li .hover .bottom{
	padding: 5px 117px 5px 13px;
	font-size: 13px;
	line-height: 13px;
	background: #fff;
}

#homeFeatured ul li .hover .bottom{
	position: absolute;
	bottom: 0;
	display: block;
	width: 170px;
	color: #fff;
	border: 1px solid #e0e0e0;
}


#homeFeatured ul li .hover .top a{
	display: block;
	color: #888888;
}

#homeFeatured ul li .hover .top a span{
	background:url(../images/icon-wishlist2.png) no-repeat;
	padding-left: 25px;
}

#homeFeatured ul li .hover .top a:hover{
	color: #ccc;
}

#homeFeatured ul li .hover .top a.topRight{
	float: left;
	padding-left: 10px;
}

#homeFeatured ul li .hover .top a.topRight span{
	background:url(../images/icon-preview.png) no-repeat;
	padding-left: 25px;
}

#homeFeatured ul li .hover .top .blue{
	background: #ffffff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 104px;
	height: 39px;
	border: 1px solid #e0e0e0;
	/*line-height: 39px;*/
	text-align: center;
}

#homeFeatured ul li .hover .bottom .blue{
	background: #35baeb;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 104px;
	height: 39px;
	/*line-height: 39px;*/
	text-align: center;
}

#homeFeatured ul li .hover .top .blue{
	line-height: 39px;
}

#homeFeatured ul li .hover .bottom .blue{
	height: 100%;
	line-height: auto !important;
}


#homeFeatured ul li .hover .bottom .blue .price{
	font-size: 18px;
	display: block;
	line-height: 21px;
	padding: 10px 13px 0;
}

#homeFeatured ul li .hover .bottom .blue .price .curency{
	font-size: 12px;
}

#homeFeatured ul li .hover .bottom .blue .shipping{
	line-height: 12px !important;
	font-size: 12px;
}


#homeFeatured ul li .hover .bottom h3{
	font-size: 16px;
	line-height: 20px;
}

#homeFeatured ul li .hover .bottom h4{
	font-size: 12px;
}

#homeFeatured ul li .hover .bottom a h3{
	color: #000;
	text-align: left;
	font-weight: normal;
}

#homeFeatured ul li .hover .bottom a h4{
	color: #35baeb;
	font-weight: normal;
}

#sitelinks{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:25px 0;
	width: 960px;
	margin: 30px auto;	
}

#sitelinks .cols{
	width: 220px;
	margin-right: 20px;
	float: left;
	font-family: cambria, georgia, serif;
}

#sitelinks .cols h3{
	font-size: 14px;
	color:#000000;
	font-weight: normal;
	margin-bottom: 7px;
	text-align: left;
}

#sitelinks .cols ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sitelinks .cols ul li,
#sitelinks .cols ul li a{
	font-size: 12px;
	line-height: 28px;
	color: #888;
}

#sitelinks .cols img{
	margin-right: 10px;
	float: left;
}

#paymentNote{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

#paymentNote h3{
	font-family: cambria, georgia, serif;
	font-size: 12px;
	color: #888;
	margin-bottom: 10px;
}

#footer{
	width: 100%;
	height: 55px;
	background: #000;
	margin-top: 50px;
}

#footer .wrap{
	width:960px;
	margin:0 auto;
	position:relative;
}

#footer .leftColumn{
	width: 480px;
	float: left;
	font-family: cambria, georgia, serif;
	line-height: 55px;
	font-size: 12px;
	color: #fff;
}
#footer .rightColumn{
	float: right;
	line-height: 30px; 
}

#footer .rightColumn a{ 
	margin: 0 auto;
	font-family: cambria, georgia, serif;
	font-size: 12px;
	color: #fff; }

#footer .rightColumn li{ 
	float: left; 
	list-style-type: none; 
	padding-right: 10px; 
	color: #fff; 
}

#Product {
	padding-top: 50px;
	width: 960px;
	margin: 25px auto;
	font-family: cambria, georgia, serif;
}

#Cart {
	padding: 50px 0 0 20px;
	width: 960px;
	height: 550px;
	margin: 25px auto;
	font-family: cambria, georgia, serif;
}

#Cart p.cartItem{
	margin-top: 30px;
	font-family: Cambria;
	font-size: 18px;
}

#Cart p.cartItem span{
	color: #000; 
}

#Cart a.linkItem{ 
	color: #35baeb; 
}

#Cart a.updateQuantity{ 
	color: #35baeb; 
	font-size: 12px; 
}

#Cart p.noteTo{ 
	font-size: 14px; 
	color: #000; 
}

#Cart p.noteTo span{ 
	font-size: 12px; 
	color: #999; 
}

.columnLeft{ 
	width: 220px;
	margin-left: -30px;
	padding-top: 20px;
	float: left; 
	font-family: Cambria; 
	font-size: 14px;
}

.columnRight{ 
	margin-left: 30px;
	width: 700px; 
	float: left;
	text-align: center;
}

.columnRight p.textLeft{ 
	text-align: left; 
	font-family: Cambria;
}

.columnRight p.textLeft a{ 
	color: blue; 
}

.columnRight p.textRight{ 
	text-align: right; 
	margin-top: -40px;
}
.subLeft{ 
	float: left;
	width: 380px;
	height: 70px;
}

.subLeft div{
	margin-top: 30px;
}

.subLeft p.viewing{
	margin-top: 5px;
	float: left;
	font-size: 12px;
	text-align: left;
}

.subLeft p.shippingTag{
	margin-top: 2px;
	float: left;
	font-size: 12px;
	text-align: left;
	background: #35baeb;
	color: #ffffff;
	padding: 4px 6px 4px 6px;
}

.subLeft p.shippingTag img{
	margin: -4px 0 0 6px;
}

.columnRight.subLeft input.tagShip{ 
	margin-top: 100px; 
}

.subRight{ 
	float: right;
	width: 350px;
}

.subRight .searchProduct{
	float:right;
	margin: -100px -65px 0 0;
	padding: 20px;
}

.subright .sortText label{
	margin-bottom: -100px;
}

.subRight .selectSort{
	float: right;
	margin: -42px -40px 0 0;
}

.subRight .sortControl{ 
	width: 150px;
	padding: 4px 15px;
	font-family: Cambria;
	font-size:12px;
	color:#666;
	border: 1px solid #ddd;
}

.productThumb{ 
	float: left;
	margin-bottom: 30px;
	width: 800px;
}

.productThumb ul{ 
	margin-left: -37px; 
	margin-bottom: 30px;
}

.productThumb li{ 
	float: left; 
	list-style-type: none; 
	margin-right: 35.9px;
}

.productThumb li .mainImage{
	border: 1px solid #f1f1f1;
}

.productThumb li .mainImage:hover{
	background: #f1f1f1;
}

.productThumb .detailsHover{ 
	background-color: #f1f1f1; 
	padding: 25px; 
	height: 440px; 
}

.productThumb p.footLeft{
	text-align: left;
	font-size: 14px;
	color: #000;
}

.productThumb p.footLeftBy{
	margin-top: -10px;
	text-align: left;
	font-size: 12px;
	color: #999;
}

.productThumb p.footLeftBy span{
	color: #35baeb;
}

.productThumb p.footRight{
	float: right;
	margin-top: -50px;
	font-size: 12px;
	color: #999;
}
.productThumb p.footRight span{
	font-size: 14px;
	color: #000;
}

.productThumb li .hoverProduct2{
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
}

.producThumb li:hover .hoverProduct2{
	display: block;
	transition:all 0.6s ease 0s; 
}

.productThumb li .hoverProduct2 .hoverLike2{
	position: absolute;
	top: 0;
	right: -2px;
}

.productThumb li .hoverProduct2 .hoverLike2 img:hover{
	opacity: 0.8;
}

.productThumb li .hoverProduct2 .hoverDetails2{
	position: absolute;
	top: 100px;
	left: 45px;
}

a.buttonLoad:link, a.buttonLoad:visited{
	display: block;
	width: 200px;  
	padding: 15px 10px 15px 10px;
	margin-left: 262px;
	background-color: #fff;
	color: #999;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #999;
}

a.buttonLoad:hover{
	background-color: #000;
	color: #fff;
}

.tableCart{ 
	width: 618px; 
	float: left; 
}

.tableCart table{ 
	margin:0;
	padding: 0;
	width: 618px; 
	border-top: 1px solid #ddd;
	border-right: 0;
	border-bottom: 0;
	border-left: 1px solid #ddd;
	border-collapse:collapse;
}

.tableCart table > thead > tr:nth-child(odd) > th{
	background-color: #000;
	padding: 10px 0 10px 0;
	color: #fff;
	font-family: Cambria;
	font-weight: normal;
	font-size: 16px;
}

.tableCart table > thead> tr:nth-child(odd) > th.productLeft{
	text-align: left;
	padding-left: 18px;
}

.tableCart table > tbody > tr,
.tableCart table > tbody > tr:nth-child(odd) > td{
	background-color: #fff;
	color: #999;
	font-family: Cambria;
	font-weight: normal;
	font-size: 14px;
	width: 200px;
	text-align: center;
	padding-right: 5px;
	padding-bottom: 15px;
}

.tableCart table > tbody > tr:nth-child(odd) > td.thumbName{
	padding-top: 20px;
}

.tableCart2{ 
	width: 950px; 
}

.tableCart2 table{ 
	margin:0;
	padding: 0;
	width: 950px; 
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.tableCart2 table > thead > tr:nth-child(odd) > th{
	background-color: #fff;
	padding: 15px 0 15px 0;
	color: #000;
	font-family: Cambria;
	font-weight: normal;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}


.tableCart2 table > tbody > tr,
.tableCart2 table > tbody > tr:nth-child(odd) > td{
	background-color: #fff;
	color: #999;
	font-family: Cambria;
	font-weight: normal;
	font-size: 14px;
	width: 200px;
	text-align: center;
	padding-right: 5px;
}

.tableCart2 table > tbody > tr:nth-child(odd) > td.thumbName{
	padding-top: 20px;
}

.tableCart2 table > tbody > tr:nth-child(odd) > td img.closeProduct:hover{
	opacity: 0.8;
}

.tableCart2 .imageCart{ 
	float: left;
	padding-left: 20px;
	margin-bottom: 15px;
}

.tableCart2 p.descTable{ 
	text-align: left;
	font-size: 18px;
	margin: 20px 0 0 95px;
	padding-left: 20px;
	width: 150px;
	color: #000;
}

.tableCart2 p.byTable{
	margin-top: 0;
	text-align: left;
	font-size: 12px;
	margin-left: 115px;
	margin-top: 5px;
}

.tableCart2 p.byTable a{
	color: #35baeb;
}

a.buttonVoucher:link, a.buttonVoucher:visited{
	display: block;
	margin-top: 20px;
	width: 200px;  
	padding: 15px 10px 15px 10px;
	line-height: 1.4;
	background-color: #fff;
	color: #999;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #ddd;
}

a.buttonVoucher:hover{
	background-color: #000;
	color: #fff;
}

.tableCart .imageCart{ 
	float: left;
	padding-left: 20px;
}

.tableCart p.removeTag{
	margin: 78px 0 0 -80px;
	float: left;
	font-size: 12px;
	text-align: left;
	background: #bbbbbb;
	color: #ffffff;
	padding: 4px 9px 4px 9px;
}

.tableCart p.removeTag img{
	margin: -4px 0 0 6px;
}

.tableCart p.descTable{ 
	text-align: left;
	font-size: 18px;
	margin: 30px 0 0 95px;
	padding-left: 20px;
	width: 150px;
	color: #000;
}

.tableCart p.byTable{
	margin-top: 0;
	text-align: left;
	font-size: 12px;
	margin-left: 115px;
}

.tableCart a.designTable{ 
	color: #35baeb;
	font-size: 12px;
}

.tableCart .merchantNote{
	width: 577px;
	border-top: 0;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 20px;
}

.tableShip{ 
	width : 290px; 
	float: left;
	border: 1px solid #ddd;
	padding: 20px;
}

.tableShip .subShip{
	border-bottom: 1px solid #d0d0d0;
}

.tableShip p.shipProduct{ 
	font-size: 16px; 
	color: #000; 
}

.tableShip p.shipProduct span{ 
	color: #999; 
}

.tableShip a.addAddress{ 
	font-size: 12px; 
	color: #35baeb; 
}

.tableShip p.gift, 
.tableShip p.order{ 
	font-size: 18px; 
	color: #000; 
	margin: 13px 0 10px 0; 
}
.tableShip label{ 
	font-family: Cambria; 
	font-size: 14px;
}

.tableShip .checkGift{ 
	border: 1px solid #000; 
}

.tableShip .squaredOne{
	width: 18px;
	height: 18px;
	background: #35baeb;
	position: relative;
	margin-bottom: 20px;
}

.tableShip .squaredOne label{
	cursor: pointer;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 4.8px;
	top: 4.8px;
	background: #fff;
	display: block;
}

.tableShip .squaredOne label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	top: -1.5px;
	left: -1.3px;
	background: #000;
}

.tableShip .squaredOne input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.tableShip .squaredOne p{
	margin: -18px 0 0 23px;
	width: 200px;
	font-size: 14px;
}

.tableShip table > tbody{
	font-size: 14px; 
}

.tableShip table > tbody > tr > td{ 
	border-bottom: 1px dashed #999; 
	padding: 7px 0 7px 0; 
	width: 140px; 
}

.tableShip table > tbody > tr > td.flRight{ 
	text-align: right; 
}

.tableShip table > tbody > tr > td.total{ 
	color: #000; 
	border-bottom: none; 
}
.tableShip table > tbody > tr > td.total2{ 
	color: #000; 
	border-bottom: none; 
	text-align: right; 
}


a.buttonPayment:link, a.buttonPayment:visited {
	display: block;
	margin-top: 20px;
	width: 92%;  
	padding: 15px 10px 18px 10px;
	line-height: 1.4;
	background-color: #35baeb;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}

a.buttonPayment:hover{
	background-color: #000;
	color: #fff;
}

ul.buttonRight {
	float: right;
	margin: -85px 10px 0 0;
}

ul.buttonRight li {
	list-style-type: none;
	float: left;
	padding-left: 20px;
}

a.buttonUpdate:link, a.buttonUpdate:visited {
	display: block;
	margin-top: 20px;
	width: 100px;  
	padding: 10px;
	line-height: 1.4;
	background-color: #999;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
}

a.buttonUpdate:hover{
	background-color: #000;
	color: #fff;
}

a.buttonProceed:link, a.buttonProceed:visited {
	display: block;
	margin-top: 20px;
	width: 150px;  
	padding: 10px;
	line-height: 1.4;
	background-color: #35baeb;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
}

a.buttonProceed:hover{
	background-color: #000;
	color: #fff;
}

.cartTotal table{
	float: right;
	margin-right: 10px;
	width: 400px;
}

.cartTotal table > tbody{
	font-size: 14px; 
}

.cartTotal table > tbody > tr > td{ 
	border-bottom: 1px dashed #999; 
	padding: 15px 0 15px 0; 
	width: 140px; 
}

.cartTotal table > tbody > tr > td.flLeft{ 
	color: #000000; 
	text-align: right;
	padding-right: 130px;
	width: 200px;
}

.cartTotal table > tbody > tr > td.flRight{ 
	text-align: right; 
}

.cartTotal table > tbody > tr > td.total{ 
	color: #000; 
	border-bottom: none; 
	text-align: right;
	padding-right: 130px;
}
.cartTotal table > tbody > tr > td.total2{ 
	color: #000; 
	border-bottom: none; 
	text-align: right; 
}
.cartTotal table > tbody > tr > td a{ 
	color: #35baeb;  
}

input[type=checkbox].css-checkbox{
	position: absolute; 
	overflow: hidden; 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label{
	padding-left:20px;
	margin-left: 15px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	cursor:pointer;
}

input[type=checkbox].css-checkbox + label.css-sublabel{
	padding-left:20px;
	margin-left: 35px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label, 
input[type=checkbox].css-checkbox:checked + label.css-sublabel{
	background-position: 0 -15px;
}

.css-label, .css-sublabel{ 
	background-image:url(../images/lite-blue-check.png); 
}

.searchCart{
	float:right;
	margin: -30px -15px 0 0;
	padding: 20px;
}

.textInput{
	margin: 0;
	padding: 6px 15px;
	font-family: Cambria;
	font-size:12px;
	color:#666;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	border-left: 0;
}

.inputPopup{
	margin: 0;
	padding: 6px;
	font-family: Cambria;
	font-size:12px;
	color:#666;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	border-left: 0;
}

.buttonSearch {
	margin: 0;
	padding: 0;
	width:30px;
	height:30px;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	border-top: 0;
	border-right: 0;
	border-bottom: none;
	border-left: 0;
	background: url('../images/icon-search.png') no-repeat center;
}

.buttonSearch::-moz-focus-inner {
	border: 0;
}
	
.sortCity { 
	width: 150px;
	padding: 6px 15px;
	font-family: Cambria;
	font-size:12px;
	color:#666;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.productQuantity { 
	margin: 0;
	width: 50px;
	padding: 6px 15px;
	font-family: Cambria;
	font-size:12px;
	color:#666; 
	text-align: center;
	border: 1px solid #d5d5d5;
}

.optionalNote {
	padding: 6px 15px;
	width: 545px;
	font-family: Cambria;
	font-size:12px;
	color:#666; 
	border: 1px solid #ddd;
}

.slideDown {
	width: 780px;
	margin: -20px 0 0 -40px;
}

.click-nav1, 
.click-nav2, 
.click-nav3{
	width:220px;
	float: left;
	margin-right: 40px;
}

.click-nav1 ul, 
.click-nav2 ul, 
.click-nav3 ul{
	list-style:none;
}

.click-nav1 ul li.cont_1, 
.click-nav2 ul li.cont_2, 
.click-nav3 ul li.cont_3{
	width: 220px;
	margin-right: 40px;
	position:relative;
	float: left;
}

.click-nav1 ul li.cont_1 .mainImage,
.click-nav2 ul li.cont_2 .mainImage,
.click-nav3 ul li.cont_3 .mainImage{
	border: 1px solid #f1f1f1;
}

.click-nav1 ul li.cont_1 .mainImage:hover,
.click-nav2 ul li.cont_2 .mainImage:hover,
.click-nav3 ul li.cont_3 .mainImage:hover{
	background: #f1f1f1;
}

.click-nav1 ul li .hoverProduct,
.click-nav2 ul li .hoverProduct,
.click-nav3 ul li .hoverProduct{
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
}

.click-nav1 ul li:hover .hoverProduct,
.click-nav2 ul li:hover .hoverProduct,
.click-nav3 ul li:hover .hoverProduct{
	display: block;
	transition:all 0.6s ease 0s; 
}

.click-nav1 ul li .hoverProduct .hoverLike,
.click-nav2 ul li .hoverProduct .hoverLike,
.click-nav3 ul li .hoverProduct .hoverLike{
	position: absolute;
	top: 0;
	right: -2px;
}

.click-nav1 ul li .hoverProduct .hoverLike img:hover,
.click-nav2 ul li .hoverProduct .hoverLike img:hover,
.click-nav3 ul li .hoverProduct .hoverLike img:hover{
	opacity: 0.8;
}

.click-nav1 ul li .hoverProduct .hoverDetails,
.click-nav2 ul li .hoverProduct .hoverDetails,
.click-nav3 ul li .hoverProduct .hoverDetails{
	position: absolute;
	top: 100px;
	left: 45px;
}

.click-nav1 img, 
.click-nav2 img, 
.click-nav3 img{
	top:9px;
	left:12px;
}

.click-nav1 ul li a, 
.click-nav2 ul li a, 
.click-nav3 ul li a{
	background:transparent;
	color:#333;
	text-decoration:none;
}

.click-nav1 ul li a:hover, 
.click-nav2 ul li a:hover, 
.click-nav3 ul li a:hover{
	background:#transparent;
}

.click-nav1 .no-js ul, 
.click-nav2 .no-js ul, 
.click-nav3 .no-js ul{
	display:none;
}

.click-nav1 .no-js:hover ul, 
.click-nav2 .no-js:hover ul, 
.click-nav3 .no-js:hover ul{
	display:block;
}

.click-nav1 ul li ul.contHover_1{
	top: 280px;
	position: absolute;
	width: 720px;
	background: #f1f1f1;
	padding: 10px 0 20px 20px;
	height: 450px;
	pointer-events: auto;
}

/*auto | none | visiblePainted | visibleFill | visibleStroke | visible | painted | fill | stroke | all | inherit*/

.click-nav1 ul li ul.contHover_1:before{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #f1f1f1; 
    position: absolute;
    top: -23px;
    left: 100px;
	margin-left: 0px;
}

.click-nav2 ul li ul.contHover_2{
	top: 280px;
	left: -260px;
	position:absolute;
	width: 720px;
	background: #f1f1f1;
	padding: 10px 0 20px 20px;
}

.click-nav2 ul li ul.contHover_2:before{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #f1f1f1; 
    position: absolute;
    top: -23px;
    left: 360px;
	margin-left: 0px;
}

.click-nav3 ul li ul.contHover_3{
	top: 280px;
	left: -520px;
	position:absolute;
	width: 720px;
	background: #f1f1f1;
	padding: 10px 0 20px 20px;
}

.click-nav3 ul li ul.contHover_3:before{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #f1f1f1; 
    position: absolute;
    top: -23px;
    left: 610px;
	margin-left: 0px;
}

.click-nav1 ul li.hoverLeft, 
.click-nav2 ul li.hoverLeft, 
.click-nav3 ul li.hoverLeft {
	width: 350px;
	float: left;
	clear: both;
}

.click-nav1 ul li.hoverLeft img, 
.click-nav2 ul li.hoverLeft img, 
.click-nav3 ul li.hoverLeft img{
	float: left;
	padding: 10px 10px 0 0;
}

.click-nav1 ul li.hoverLeft img.sImage:hover, 
.click-nav2 ul li.hoverLeft img.sImage:hover, 
.click-nav3 ul li.hoverLeft img.sImage:hover{
	opacity: 0.7;
}

.click-nav1 ul li.hoverRight, 
.click-nav2 ul li.hoverRight, 
.click-nav3 ul li.hoverRight{
	width: 300px;
	float: left;
	margin: 10px 0 0 20px;
}

.click-nav1 ul li.hoverRight .linkClose, 
.click-nav2 ul li.hoverRight .linkClose, 
.click-nav3 ul li.hoverRight .linkClose{
	background: transparent;
}

.click-nav1 ul li.hoverRight .imageClose, 
.click-nav2 ul li.hoverRight .imageClose, 
.click-nav3 ul li.hoverRight .imageClose{
	float: right;
	margin: -18px -50px 0 0;
}

.click-nav1 ul li.hoverRight .imageClose:hover, 
.click-nav2 ul li.hoverRight .imageClose:hover, 
.click-nav3 ul li.hoverRight .imageClose:hover{
	opacity: 0.8;
}

.click-nav1 ul li.hoverRight h2, 
.click-nav2 ul li.hoverRight h2, 
.click-nav3 ul li.hoverRight h2{
	text-align: left;
	font-family: Cambria;
	font-size: 28px;
	font-weight: normal;
	color: #000;
	margin: -28px 0 5px 0;
}

.click-nav1 ul li.hoverRight .rightBy, 
.click-nav2 ul li.hoverRight .rightBy, 
.click-nav3 ul li.hoverRight .rightBy{
	text-align: left;
	font-family: Cambria;
	font-size: 14px;
	font-weight: normal;
	color: #999;
	margin-bottom: 20px;
}

.click-nav1 ul li.hoverRight .rightBy span, 
.click-nav2 ul li.hoverRight .rightBy span, 
.click-nav3 ul li.hoverRight .rightBy span{
	color: #35baeb;
}

.click-nav1 ul li.hoverRight .rightPrice, 
.click-nav2 ul li.hoverRight .rightPrice, 
.click-nav3 ul li.hoverRight .rightPrice{
	text-align: left;
	font-family: Cambria;
	font-size: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 20px;
}

.click-nav1 ul li.hoverRight .rightPrice span, 
.click-nav2 ul li.hoverRight .rightPrice span, 
.click-nav3 ul li.hoverRight .rightPrice span{
	font-size: 14px;
	color: #999;
}

.click-nav1 ul li.hoverRight .rightDescription, .click-nav1 ul li.hoverRight .rightDimension,
.click-nav2 ul li.hoverRight .rightDescription, .click-nav2 ul li.hoverRight .rightDimension,
.click-nav3 ul li.hoverRight .rightDescription, .click-nav3 ul li.hoverRight .rightDimension{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	font-family: Cambria;
	font-size: 14px;
	color: #000;
}

.click-nav1 ul li.hoverRight a.buttonAdd:link, .click-nav1 ul li.hoverRight a.buttonAdd:visited,
.click-nav2 ul li.hoverRight a.buttonAdd:link, .click-nav2 ul li.hoverRight a.buttonAdd:visited,
.click-nav3 ul li.hoverRight a.buttonAdd:link, .click-nav3 ul li.hoverRight a.buttonAdd:visited{
	display: block;
	margin-top: 30px;
	width: 92%;  
	padding: 15px 10px 18px 10px;
	line-height: 1.4;
	background-color: #35baeb;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
}

.click-nav1 ul li.hoverRight a.buttonAdd:hover,
.click-nav2 ul li.hoverRight a.buttonAdd:hover,
.click-nav3 ul li.hoverRight a.buttonAdd:hover {
	background-color: #000;
	color: #fff;
}

.click-nav1 ul li.hoverRight p,
.click-nav2 ul li.hoverRight p,
.click-nav3 ul li.hoverRight p{
	text-align: left;
	font-family: Cambria;
	font-size: 14px;
	font-weight: normal;
}

.click-nav1 ul .clicker,
.click-nav2 ul .clicker,
.click-nav3 ul .clicker {
	margin: 0;
	background: transparent;
	height: 220px;
	width: 220px;
}

.click-nav1 ul .clicker:hover, .click-nav1 ul .active,
.click-nav2 ul .clicker:hover, .click-nav2 ul .active,
.click-nav3 ul .clicker:hover, .click-nav3 ul .active{
	background:transparent;
}

.click-nav1 ul .clickerLeft,
.click-nav2 ul .clickerLeft,
.click-nav3 ul .clickerLeft{
	font-family: Cambria;
	font-size: 14px;
	color: #000;
	float: left;
	text-align: left;
	font-weight: normal;
}

.click-nav1 ul .clickerLeft span,
.click-nav2 ul .clickerLeft span,
.click-nav3 ul .clickerLeft span{
	font-size: 12px;
	color: #999;
}

.click-nav1 ul .clickerLeft span a,
.click-nav2 ul .clickerLeft span a,
.click-nav3 ul .clickerLeft span a{
	color: #35baeb;
}

.click-nav1 ul .clickerBy,
.click-nav2 ul .clickerBy,
.click-nav3 ul .clickerBy{
	float: left;
	font-weight: normal;
	color: #35baeb;
}

.click-nav1 ul .clickerRight,
.click-nav2 ul .clickerRight,
.click-nav3 ul .clickerRight{
	float: right;
	font-family: Cambria;
	font-size: 14px;
	color: #000;
	font-weight: normal;
}

.click-nav1 ul .clickerRight span,
.click-nav2 ul .clickerRight span,
.click-nav3 ul .clickerRight span{
	color: #999;
	font-size: 12px;
}

div.tagsinput span.tag{ 
	display: block; 
	float: left; 
	padding: 3px 0 5px 5px; 
	text-decoration: none; 
	background: #35baeb; 
	color: #fff; 
	font-family: Cambria;  
	font-size: 12px;
}
	
div.tagsinput span.tag a{
	padding: 3px 10px 5px 10px; 
	color: #fff; 
	text-decoration: none; 
	font-family: Arial; 
	font-size: 15px;  
	background-color: #000; 
} 

div.tagsinput input{ 
	border:0; 
}

div.tagsinput2 span.tag2{ 
	display: block; 
	float: left; 
	padding: 3px 0 5px 5px; 
	text-decoration: none; 
	background: #cccccc; 
	color: #fff; 
	font-family: Cambria;  
	font-size: 12px;
}
	
div.tagsinput2 span.tag2 a{
	padding: 3px 10px 5px 10px; 
	color: #fff; 
	text-decoration: none; 
	font-family: Arial; 
	font-size: 15px;  
	background-color: #000; 
} 

div.tagsinput2 input{ 
	border:0; 
}

.demo-container{
	margin: 16px 0 0 10px;
	padding: 20px; 
	float: left; 
	width: 200px;
}
	
.grey .accordion{
	font: 14px Cambria; 
	border-top: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
}

.grey .accordion, 
.grey .accordion li{
	margin: 0; 
	padding: 0; 
	border: none;
}

.grey ul.accordion, 
.grey ul.accordion li{
	list-style-type: none; 
}

.grey .accordion li .downArrow{ 
	margin-left: -20px; 
	margin-right: 10px;
}

.grey .accordion li.cuFil{ 
	padding-bottom: 10px; 
	border-bottom: 1px solid #ccc;
	color: #000;
}

.grey .accordion a{
	padding: 10px 10px 10px 20px; 
	background: #ffffff; 
	text-decoration: none; 
	display: block; 
	color: #333; 
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #fff; 
	position: relative; 
}

.grey .accordion a.dcjq-parent, 
.grey .accordion a.dcjq-parent:hover{ 
	background: #ffffff;
}

.grey .accordion a.dcjq-parent.active{ 
	border-bottom: 0;
}

.grey .accordion a .dcjq-icon{ 
	position: absolute; 
	top: 50%; 
	left: 0px; 
	margin-top: -17px; 
	width: 34px; 
	height: 34px; 
	background: url(../images/arrow-down.png) no-repeat 0 center;
}

.grey .accordion a.dcjq-parent.active .dcjq-icon{
	background: url(../images/arrow-up.png) no-repeat 0 center; 
	border-bottom: 0;
}

.grey .accordion a:hover{
	background: #fff; 
	color: #000;
}

.grey .accordion a:active{
}

.grey .accordion li.cbLeft{ 
	padding: 5px 0 10px 0; 
	margin-left: -55px;
}

.grey .accordion li.cbLeft2{ 
	padding: 10px 0 10px 20px; 
	margin-left: -55px;
}

.grey .accordion ul.threeLines{
	padding-bottom: 10px;
	margin-left: -40px;
	/*border-bottom: 1px solid #ccc;*/
}

.grey .accordion li.subPrice{
	float: left;
	width: 60px;
	margin-right: 6.6px;
}

.grey .accordion li.subPrice:last-child{
	border-bottom: 1px solid #ccc;
}

.grey .accordion li.subPrice p{
	margin-top: 8px;
	color: #999;
	font-size: 12px;
}

.grey .accordion li.subPrice .priceRange { 
	width: 50px;
	height: 25px;
	padding: 6px 15px;
	font-family: Cambria;
	font-size:12px;
	color:#666; 
	margin-top: -20px;
	margin-right: 5px;
	border: 1px solid #cecece;
}

.grey .accordion li.subPrice a.buttonFilter:link, 
.grey .accordion li.subPrice a.buttonFilter:visited {
	display: block;
	margin-top: 30.5px;
	width: 30px;  
	padding: 2.5px 15px 2.5px 15px;
	line-height: 1.4;
	background-color: #bbbbbb;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}

.grey .accordion li.subPrice a.buttonFilter:hover{
	background-color: #35baeb;
	color: #fff;
}

.grey .accordion ul.sixLines{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.accordion li.squared1{
	margin: 10px 0 10px 0;
	width: 18px;
	height: 18px;
	background: #35baeb;
	position: relative;
	margin-bottom: 20px;
}

.accordion li.squared2,
.accordion li.squared3,
.accordion li.squared4,
.accordion li.squared5,
.accordion li.squared6{
	margin: 10px 0 10px 35px;
	width: 18px;
	height: 18px;
	background: #35baeb;
	position: relative;
	margin-bottom: 20px;
}

.accordion li.squared1 p,
.accordion li.squared2 p,
.accordion li.squared3 p,
.accordion li.squared4 p,
.accordion li.squared5 p,
.accordion li.squared6 p{
	color: #999;
}

.squared1 label, 
.squared2 label,
.squared3 label,
.squared4 label,
.squared5 label,
.squared6 label{
	cursor: pointer;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 4.5px;
	top: 4.5px;
	background: #fff;
}

.squared1 label:after, 
.squared2 label:after,
.squared3 label:after,
.squared4 label:after,
.squared5 label:after,
.squared6 label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	top: -1.5px;
	left: -1.3px;
	background: #000;
}

.squared1 input[type=checkbox]:checked + label:after, 
.squared2 input[type=checkbox]:checked + label:after,
.squared3 input[type=checkbox]:checked + label:after,
.squared4 input[type=checkbox]:checked + label:after,
.squared5 input[type=checkbox]:checked + label:after,
.squared6 input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squared1 p, 
.squared2 p,
.squared3 p,
.squared4 p,
.squared5 p,
.squared6 p{
	margin: -18px 0 0 23px;
	width: 200px;
	font-size: 14px;
}


input[type=checkbox].css-checkbox{
	display: none;
	position: absolute; 
	overflow: hidden; 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label_1,
input[type=checkbox].css-checkbox + label.css-label_2,
input[type=checkbox].css-checkbox + label.css-label_3,
input[type=checkbox].css-checkbox + label.css-label_4,
input[type=checkbox].css-checkbox + label.css-label_5,
input[type=checkbox].css-checkbox + label.css-label_6,
input[type=checkbox].css-checkbox + label.css-label-gift-order{
	padding-left:20px;
	margin-left: 15px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	cursor:pointer;
}

input[type=checkbox].css-checkbox + label.css-label-gift-order{
	margin: 0 0 20px 0;
}

input[type=checkbox].css-checkbox:checked + label.css-label_1, 
input[type=checkbox].css-checkbox:checked + label.css-label_2,
input[type=checkbox].css-checkbox:checked + label.css-label_3,
input[type=checkbox].css-checkbox:checked + label.css-label_4,
input[type=checkbox].css-checkbox:checked + label.css-label_5,
input[type=checkbox].css-checkbox:checked + label.css-label_6,
input[type=checkbox].css-checkbox:checked + label.css-label-gift-order{
	background-position: 0 -15px;
	/*background-color: #35baeb;
	width: 40px;
	height: 40px;
	color: #fff;*/
}

.css-label_1,
.css-label_2,
.css-label_3,
.css-label_4,
.css-label_5,
.css-label_6{ 
	background-image:url(../images/lite-blue-check.png); 
	color: #999;
	font-family: Cambria;
}

.css-label-gift-order{ 
	background-image:url(../images/lite-blue-check2.png); 
	color: #999;
	font-family: Cambria;
	margin-left: -20px;
}